.App {
    /* 메인 */
    position: relative;
    width: "100%";
    height: 1510px;
    padding-left: 140px;
    padding-right: 140px;
  }

/*--------------------------------- navigation bar -------------------------------*/


/*--------------------------------- body -------------------------------*/



/*--------------------------------- footer -------------------------------*/

  
