.PreInterviewApp {
    position: relative;
    width: "100%";
    height: 1110px;
    padding-left: 140px;
    padding-right: 140px;
  }


/*-------------------- description ---------------------*/
.description-layout {
    position: relative;
    width: 100%;
    height: 218px;
    margin-top: 210px;
    /* left: 0px; */
    /* top: 215px; */
}

.description-title {
    position: relative;
    width: 276px;
    min-height: 50px;
    height: 70px;
    padding-left: 80px;
    padding-top: 22px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 850;
    font-size: 32px;
    line-height: 46px;
    display: flex;
    align-items: center;

    color: #000000;
}


.description-content {
    position: relative;
    width: 596px;
    height: 48px;
    padding-left: 80px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #A5A5A5;
}

/*--------------------- cam setting ---------------------*/
.cam-setting-layout {
    position: relative;
    /* width: 100%; */
    height: 737px;
    margin-right: 80px;
    /* left: 0px; */
    /* top: 433px; */
}

.cam-setting-title {
    position: relative;
    width: 241px;
    height: 37px;
    padding-left: 80px;
    /* top: 42px; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;

    display: flex;
    align-items: center;
}

.cam-show-layout {
    position: relative;
    /* width: 100%; */
    height: 480px;
    margin-left: 80px;
    margin-top: 10px;
    /* margin-right: 80px; */
    /* padding-right: 80px; */
    
    display: flex;
    background-color: #A5A5A5
}

.cam-show {
    position: relative;
    width: 640px;
    height: 480px;
    /* margin-right: 80px; */
    /* padding-right: 80px; */
    /* justify-content: center;
    align-items: center; */
    margin: auto;

    display: flex;
    background-color: #000000
}

/*-------------------- start button --------------------*/
.start-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.99753px;
    margin-left: auto;
    margin-top: 25px;

    position: relative;
    width: 200px;
    height: 60px;
    /* left: 1197px; */
    /* top: 805px; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: white;
    /* line-height: 37px; */

    align-items: center;

    background: rgba(91, 126, 251, 0.5);
    border-radius: 35px;
    border: none;
    /* border-color: #A5A5A5; */
    /* border-style: hidden; */
}


  
