/* .PreInterviewApp {
    position: relative;
    width: "100%";
    height: 1060px;
    padding-left: 140px;
    padding-right: 140px;
  } */
  .PreInterviewApp {
    /* position: relative; */
    width: 100%;
    height: auto;
    /* padding-left: 140px;
    padding-right: 140px; */
    left: 0vw;
  }

.PreInterviewAppFooter {
    position: relative;
    width: "100%";
    /* height: 50px; */
}

/*-------------------- description ---------------------*/
.description-layout {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    /* left: 0px; */
    /* top: 215px; */
}

.description-title {
    position: relative;
    width: 500px;
    min-height: 50px;
    height: 90px;
    padding-left: 80px;
    padding-top: 22px;
    margin-top: 100px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 850;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    align-items: center;

    color: #000000;
}


.description-content {
    position: relative;
    width: 800px;
    height: 80px;
    padding-left: 80px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #838383;
}

/*--------------------- cam setting ---------------------*/
.cam-setting-layout {
    position: relative;
    /* width: 100%; */
    height: 580px;
    margin-top: 20px;
    margin-right: 80px;
    /* left: 0px; */
    /* top: 433px; */
}

.cam-setting-title {
    position: relative;
    width: 200px;
    height: 37px;
    padding-left: 80px;
    /* top: 42px; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 37px;
    color: rgb(81, 119, 255);

    display: flex;
    align-items: center;
}

.cam-show-layout {
    position: relative;
    /* width: 100%; */
    height: 480px;
    margin-left: 80px;
    margin-top: 10px;
    /* margin-right: 80px; */
    /* padding-right: 80px; */
    
    display: flex;
    background-color: #000000
}

.cam-show {
    position: relative;
    width: 855px;
    height: 480px;
    /* margin-right: 80px; */
    /* padding-right: 80px; */
    /* justify-content: center;
    align-items: center; */
    justify-content: center;
    margin: auto;

    display: flex;
    background-color: rgb(133, 133, 133)
}

.mini-title {
    /* height: 80px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    
}

/* .Connected {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 150px;
    height: 30px;

    background: rgba(0, 186, 30, 0.9);
    border-radius: 45px;
    

} */

/*-------------------- start button --------------------*/
.link-to-interviewpage {
    text-decoration: none;
}
.button-layout {
    height: 120px;
}

.start-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    /* margin-top: 25px; */

    position: relative;
    width: 200px;
    height: 60px;
    /* left: 1197px; */
    /* top: 805px; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: white;
    /* line-height: 37px; */

    align-items: center;

    background: rgba(91, 126, 251, 0.5);
    border-radius: 35px;
    border: none;
    /* border-color: #A5A5A5; */
    /* border-style: hidden; */

    cursor: pointer;
}

/*-------------------- select box --------------------*/
.select-interview-type {
    position: relative;
    height: 300px;
    margin-top: 20px;
    margin-right: 80px;
}

.select-interview-type-layout {
    position: relative;
    /* width: 100%; */
    height: 300px;
    margin-left: 80px;
    margin-top: 10px;
    /* margin-right: 80px; */
    /* padding-right: 80px; */
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;

    display: flex;
    /* align-items: center; */
}

/*-------------------- notification --------------------*/
/* .notification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 200px;
    height: 60px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    
    border-radius: 35px;
    border: none;

    cursor: pointer;
} */