.StepApp {
    /* position: relative; */
    width: 100%;
    height: auto;
    left: 0vw;
}

.step-title {
    margin-bottom: 7px;
    padding-left: 80px;
    
    font-family: EliceDigitalBaeum_Bold;
    font-size: 25px;
    line-height: 27px;

    color: rgb(81, 119, 255);
}

.step-content {
    margin-bottom: 65px;
    padding-left: 80px;
    
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.step1 {
    display: flex;
    /* margin: auto; */

    margin-top: 22px;
    width: 700px;
    height: 450px;
    border: solid;
    border-color: black;
}

.step2 {
    display: flex;
    margin-top: 22px;
    width: 700px;
    height: 450px;
    border: solid;

}