.FR-footer-gray{
  width: 98vw;
  height: 14vh;
  left: 0vw;
  background: #F0F2F4;
}
.img-logo-footer{
  position: absolute;
  width: 6vw;
  left: 47.5vw;
  top: 3.2vh;
}
.footer-gray-txt{
  position: absolute;
  width: 20vw;

  height: 2.6vw;
  top: 1.5vw;
  left: 4vw;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75vw;

  color: #a0a0a0;

}
