.Signup_App {
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}

.SignupBox_layer{
    display: grid;
    place-items: center;
    min-height: 90vh;
}
.SignupBox{
    display: inline-block;
    text-align: center;
}
.Inner_grey{
    background: #eaebec; 
}
.BT-Join{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color:#fff;

    border: 1px #5B7EFB;
    background: #5B7EFB;
    height: 30px;
    width: 100px;
  
    cursor: pointer;
}
.BT-Join:hover{
    background:  #ff85a1;
} 
.BT-Login{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color:#fff;

    border: 2px #5B7EFB;
    height: 30px;
    width: 100px;
  
    cursor: pointer;
}
