/* eslint-disable */
/*-----------------메인 페이지-----------------*/
html { font-size: 62.5%; }
.App {
    /* 메인 */
    width: 100%;
    height: auto;
    left:0vw;
}
/*---------------------------------Header-------------------------------*/
/* .Header {
    position: absolute;
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 1rem;
    
}
.Logo {
    /* position: relative;  
    width: 13vw;
    margin-left: 5vw;
    justify-self: start;
    cursor: pointer;
    padding-right: 3vw;
}
.BT-navi{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.2vw;
    text-decoration-line: none;
    color: #56565c;
    cursor: pointer;
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    justify-content: space-between;
}
.BT-navi:hover{
    color: #5B7EFB;
}
.BT-mypage{
    position: absolute;
    width: 4vw;
    top: 5vh;
    display: flex;
    left:85vw;
    cursor: pointer;
} */

/*---------------------------------T O P-------------------------------*/
.FR-top{
    position: absolute;
    width: 98vw;
    height: 61vh;
    left: 5px;
    top: 14vh;
    background: #F0F2F4; 
}
.top-txt{
    position: absolute;
    white-space: pre-line;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6vw;
    line-height: 9.3vh;
    color: #000000; 

    /* width: auto;  */
    width: 20vw;
    left: 6.5vw; 
    top: 8vh;
}
.BT-start{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4vw;
    color: #ffffff;
    text-decoration-line: none;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
  
    position: absolute;
    background: #5B7EFB;
    border-radius: 45px;
  
    cursor: pointer;
} 
.BT-start:hover{
    background:  #ff85a1;
}
.BT-login{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4vw;
    color: #5B7EFB;
    text-decoration-line: none;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3;
  
    background: #FBFCFF;
    border: 0.2vw solid #5B7EFB;
    box-sizing: border-box;
    border-radius: 45px;
    
    position: absolute;
    cursor: pointer;
}
.BT-login:hover{
    color: #ff85a1;
    border: 0.2vw solid #ff85a1;
}
.img-main{
    position: absolute;
    width: 20vw;
    left: 71.5vw;
    top: 3vh;
}
.img-circle1{
    position: absolute;
    width: 1.6vw;
    left: 45vw;
    top: 27px;
}
.img-circle2{
    position: absolute;
    width: 3vw;
    left: 51vw;
    top: 23vh;
}
.img-circle3{
    position: absolute;
    width: 2vw;
    left: 60vw;
    top: 37vh;
}
.img-circle4{
    position: absolute;
    width: 2vw;
    left: 64vw;
    top: 11vh;
}
.img-dots{
    position: absolute;
    width: 14vw;
    left: 80vw;
}
 /*--------------------------------- middle -------------------------------*/
 .FR-middle{
    position: absolute;
    width: 98vw;
    height: 70vh;
    left: 0px;
    top: 80vh;

    /* background: #323d49;  */
  }
  .img-gan{
    position: absolute;
    width: 30vw;
    left: 6.5vw;
    top: 12vh;
  }

  .middle-txt1{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8vw;
    line-height: 9vh;
    color: #000000;

  }
  .middle-txt2{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 5vh;
    color: #000000;

  }
  .BT-join{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vw;
    color: #ffffff;
    text-decoration-line: none;

    width: 15vw; 
    height: 9vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background:#5B7EFB;
    border: '1px solid #FFAFC2';
    position: absolute;
    border-radius: 45px;

    cursor: pointer;
  } 
  .BT-join:hover{
    background: #ff85a1;
  }
  /*--------------------------------- bottom -------------------------------*/
  .FR-bottom{
    position: absolute;
    width: 98vw;
    height: 90vh;
    left: 0px;
    top: 161vh;
    background: #F0F2F4;
  }
  .box-step{
    position: absolute;
    width: 25vw;
    height: 80vh;
    top: 5vh;
    background: #FFFFFF;
  }
  .img-step{
    position: absolute;
    width: 20vw;
    left: 2.5vw;
    top: 6vh;
  }
  .bottom-txt1{
    position: absolute;
    font-family: 'Montserrat';
    width: 20vw;
    height:3vw;
    top:52vh;
    left: 2.5vw;

    font-size: 3vw;
    font-weight: 700;
    line-height: 78px;
    text-align: center;

    color: #000000;
  }
  .bottom-txt2{
    position: absolute;
    font-family: 'Montserrat';
    width: 25vw;
    height: 4vw;
    top:65vh;
    left:0px;

    font-size: 1.4vw;
    font-weight: bold;

    text-align: center;

    color: #000000;
  }

  /*--------------------------------- footer -------------------------------*/
  .FR-footer-pink{
    position: absolute;
    width: 98vw;
    height: 68vh;
    left: 0px;
    top: 260vh;
  }
  .box-pink{
    position: absolute;
    width: 90vw;
    height: 40vh;
    left: 4vw;
    top: 10vh;

    background: #fcdde4;
    border-radius: 55px;
  }
  .footer-pink-txt1{
    position: absolute;
    width: 70vw;
    height: 20vh;
    left: 4vw;
    top: 10vh;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.7vw;

    color: rgba(0, 0, 0, 0.72);
  }
  .footer-pink-txt2{
    position: absolute;
    width: 40vw;
    height: 20vh;
    left: 4.5vw;
    top: 17vh;

    font-family: 'Montserrat';
    font-weight: 560;
    font-size: 1.5vw;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.72);
  }
  .footer_top{
    z-index: 7;
    position: absolute;
    top:330vh;
  }
