/* eslint-disable */
.Bar{
    position: relative;
    padding: 1.3rem;
    top: 80px;
    background: #56565c;
    color: #fff;
    font-family: EliceDigitalBaeum_Bold;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.Menu-box{
    position: relative;
    top: 80px;
    width: 250px;
    background: #F0F2F4;
    flex-direction: row;
    align-items: stretch;
}
.Menu-txt2{
    position: absolute;
    font-size: 16px;
    left: 100px;
    top: 40px;
    padding: 1rem;
    color: #5B7EFB;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
    width: 130px;
    text-decoration: none;
    text-align: center;
}
.Menu-txt2:hover{
    color: #ff85a1;
}

.Main-box{
    position: absolute;
    width: 890px;
    left:260px;
    top: 6.5vh;
    
}
.Img_mypage{
    position: absolute;
    width:160px;
    bottom: 3vh;
    left: 20px;
    top:350px;
}
.List_layer{
    display: grid;
    min-height: 90vh;
    left: 20%;
    color: #56565c;
}
.List_box{
    display: inline-block;
}
.List {
    padding: 1vw;
    left: 70%;
    margin-left: 20%;
    margin-right: 1vw;
    min-height: 400px;
    min-width: 950px;
    
    /* border: 0.2vw solid #5B7EFB; */
}

.list_tit {
    border-bottom: solid 1.5px #56565c;
    padding-bottom: 7px;
    color : #ababab;
    font-size: 1.2vw;
    font-weight: 600;
    color: #56565c;
}

.list_grid {
    display: grid;
    grid-template-columns: 50% 50%;

}
.list_data {
    line-height: 50px;
    text-decoration-line: none;
    font-size: 1.2vw;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.list_data:hover {
    background: #d3dbf7;
}
a { 
    text-decoration: none; 
    color: #000000;
    font-weight: 500;

}

.acenter {
    text-align: center;
}
.mypage_footer_top{
    z-index: 7;
    position: absolute;
    top: 110vh;
}

/*-------------------- Feedback.js에서만 사용 -----------------*/
.mypage_footer_top2{
    z-index: 7;
    position: relative;
    top:2300px;
}
.Menu-txt22{
    position: absolute;
    font-size: 14px;
    left: 105px;
    top: 40px;
    padding: 1rem;
    color: #5B7EFB;
    font-weight: 600;
    cursor: pointer;
    width: 80px;
    text-decoration: none;
    text-align: center;
}
.Menu-txt22:hover{
    color: #ff85a1;
}
.Menu-txt3{
    position: absolute;
    font-size: 13px;
    left: 40px;

    padding: 1rem;
    color: #5B7EFB;
    background: #fff;
    font-weight: 600;
    width: 200px;
    text-decoration: none;
    text-align: center;
}
.Menu-txt3:hover{
    color: #ff85a1;
}
.Interviewer-section{
    position: relative;
    width: 870px;
    left: 250px;
    top:40px;
}

.Feedback-txt{
    position: relative;
    left: 90px;
    font-size: 16px;
    font-weight: 600;
}
.Feedback-Q{
    position: relative;
    left: 30px;
    font-size: 17px;
    font-weight: 700;
    color:#5B7EFB;
}

.Chart{
    position: relative;
}
.Stt{
    position: relative;
    width: 650px;
    left: 160px;
    font-size: 10px;
    font-weight: 500;
    padding:24px;
    /* border: 0.1vw solid #5B7EFB; */
    background-color: #F0F2F4;
    text-align: justify;
}
.ChartBackground{
    position: absolute;
    left: 270px;
    top: 29px;
    width: 500px;
    height: 310x;

}
