.NotificationApp {
    /* position: relative; */
    width: 100%;
    height: auto;
    left: 0vw;
}

/* --------------- notice 1 ---------------- */
.notification-layout1 {
    position: relative;
    /* width: 100%; */
    height: 1000px;
    margin-top: 20px;
    margin-right: 80px;
}

.notification-title {
    /* position: relative; */
    /* width: 200px; */
    /* height: 80px; */
    margin-top: 38px;
    margin-bottom: 25px;
    padding-left: 80px;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    /* color: rgb(81, 119, 255); */

    display: flex;
    /* align-items: center; */
}

.notice1-cam-show-example-layout {
    position: relative;
    /* width: 100%; */
    height: 480px;
    margin-left: 80px;
    margin-bottom: 42px;
    
    display: flex;
    background-color: #000000
}

.notice1-cam-show-example-layout-2 {
    position: relative;
    width: 855px;
    height: 480px;
    margin: auto;

    display: flex;
    background-color: rgb(245, 245, 245)
}

.notice1-cam-show-example {
    position: relative;
    width: 500px;
    height: 425px;
    /* margin: auto; */
    margin: 50px 0px 0px 180px;
    align-items: flex-end;

    display: flex;
    /* background-color: rgb(133, 133, 133) */
}


/*-------------------- next button --------------------*/
.next-button-layout {
    height: 130px;
    /* position: relative; */
}

.next-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    
    padding-bottom: 6px;

    /* position: relative; */
    width: 200px;
    height: 60px;

    font-family: EliceDigitalBaeum_Bold;
    font-size: 30px;
    color: white;
    /* line-height: 37px; */
    /* text-decoration-line: none; */

    background: rgba(91, 126, 251, 0.5);
    border-radius: 35px;
    border: none;
    /* border-color: #A5A5A5; */
    /* border-style: hidden; */

    /* cursor: pointer; */
}

.next-button:hover{
    background-color: #5B7EFB;
    transition: all .2s ease-out;
    cursor: pointer;
}

.direct-to-setting {
    color: rgba(91, 126, 251, 0.3);
    animation: blink-effect 0.8s step-end infinite; 
}

.direct-to-setting:hover {
    color: #ff85a1;
    cursor: pointer;
    animation: blink-effect step-end infinite; 
}

@keyframes blink-effect { 
    50% { 
        opacity: 0; 
    } 
} 
