.App {
  /* text-align: center; */
  /* 면접 준비 페이지 */
  position: relative;
  width: 1512px;
  height: 1510px;
  background: #FFFFFF;
}

.App-cam-header {
  /* cam-header */
  position: absolute;
  width: 1512px;
  /* display: flex; */
  height: 215px;
  /* min-height: 100vh; */
  left: 0px;
  top: 0px;
  background-color: #000000;
}

.App-logo {
  /* logo */
  position: absolute;
  width: 109px;
  height: 104px;
  left: 229px;
  top: 66px;

  background: url(logo.png);
}


/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
